* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: black;
  /* width: 100%; */
  /* height: 100%; */
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  /* overflow: hidden; */
}

.container {
  color: rgb(0, 0, 0);
  display: flex;
  /* align-items: top; */

  width: 100%;
  height: 100%;

  /* position: fixed; */
}

#nav_bar {
  width: 480px;
  height: 100%;

  float: left;
  background-color: #e4bee9; /*7 #d783d7 : #80007d*/
  border-collapse: collapse;
  justify-content: space-between;

  /* border: 2px solid black; */
  border-bottom: 10px solid #b347c2;
  border-radius: 0 0 20px 20px;

  /* z-index: 1000; */
}

.nav_bar_list {
  margin: 0;
  padding: 0;
  float: left;
  justify-content: space-evenly;

  background-color: transparent;
  border-collapse: collapse;
  list-style-type: none;
}

.nav_bar_list li {
  color: rgb(255, 255, 255);
  background-color: transparent;

  z-index: 1000;
}

.nav_bar_list li a {
  color: rgb(255, 255, 255);
  background-color: transparent;

  z-index: 1000;
}

#logo {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% / 8);

  color: black;
  background-color: #b347c2;
  font-size: 30px;

  display: flex;
  align-items: center;

  border-bottom: 10px solid #582060;
  border-radius: 0 0 20px 20px;
}

/* .nav_bar_list {
  position: relative;
  justify-content: space-evenly;
} */

#my_notes {
  position: relative;
  width: 480px;
  height: 100%;
  float: left;

  /* flex: 1; 1/6 of the total width */
  background-color: #e9e4be; /*#d7d783*/
  border-collapse: collapse;

  border-bottom: 0 solid #000000;
  border-radius: 0 0 20px 20px;
}

#time {
  position: absolute;
  width: 100%;
  height: calc(100% / 8);
  bottom: 0;
  display: flex;
  align-items: center;

  color: black;
  background-color: #c2b347;

  border-bottom: 10px solid #605820;
  border-radius: 0 0 20px 20px;
}

#chat_area {
  position: relative;
  width: 100%;
  float: left;
  /* position: relative; */
  background-color: #bee9e4; /*#83d7d7 : #47C2B3*/

  border-bottom: 0 solid #000000;
  border-radius: 0 0 20px 20px;
}

/* #832A83 : #83832A : #2A8383 - darker colors*/

#chat_info {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% / 8);
  display: flex;
  align-items: center;

  color: black;
  background-color: #47c2b3;
  font-size: 30px;

  border-bottom: 10px solid #206058;
  border-radius: 0 0 20px 20px;
}

#input_area {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100% / 8);
  display: flex;
  align-items: center;

  color: black;
  background-color: #47c2b3;
  font-size: 30px;

  border-bottom: 10px solid #206058;
  border-radius: 0 0 20px 20px;
}

p {
  color: rgba(0, 0, 0, 0.468);
  background-color: transparent;
}
